* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  --color-bg-primary: black;
  --color-text: #9bf6ff;
  background-color: var(--color-bg-primary);
  color: #f0e5d9;
  font-family: "Roboto Slab", monospace;
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.introduction {
  color: #9bf6ff;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  text-align: center;
}

h1,
h2 {
  color: #9bf6ff;
  font-size: 40px;
}

p {
  color: #f0e5d9;
}

nav {
  display: flex;
  gap: 50px;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  padding: 30px;
}

nav a {
  position: relative;
  top: 0;
  right: 0;
  padding: 30px;
  transition: box-shadow 1s, right 1s, top 1s;
  font-size: 20px;
  text-decoration: none;
  background-color: var(--color-bg-primary);
  border: 3px solid #9bf6ff;
  color: #9bf6ff;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  box-shadow: -10px 10px 0 -3px var(--color-bg-primary), -10px 10px #fff59b,
    -20px 20px 0 -3px var(--color-bg-primary), -20px 20px 0 0 #ff9bf7;
}

/* to increase clickable area of the a tag */
a span {
  display: inline-block;
  padding: 40px;
  z-index: 1;
  margin: -2em;
}

a:hover {
  top: 40px;
  right: 40px;
  box-shadow: 0 0 0 -3px var(--color-bg-primary), 0 0 0 0px #fff59b,
    0 0 0 -3px var(--color-bg-primary), 0 0 0 0px #ff9bf7;
}

.about-section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 3px solid #9bf6ff;
  padding: 30px;
  max-width: 500px;
  box-shadow: -10px 10px 0 -3px var(--color-bg-primary), -10px 10px #fff59b,
    -20px 20px 0 -3px var(--color-bg-primary), -20px 20px 0 0 #ff9bf7;
}

.about-images {
  display: flex;
  flex-direction: column;
}

.poloroid {
  background-color: white;
  padding: 8px;
  margin: 20px;
  transition: all 250ms ease;
}

.poloroid.right:hover {
  transform: rotate(0deg);
}

.poloroid.left:hover {
  transform: rotate(0deg);
}

.poloroid.right {
  transform: rotate(-8deg);
}

.poloroid.left {
  transform: rotate(10deg);
}

.poloroid p {
  color: black;
  margin: 8px;
}

.work-section {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.work-section h2 {
  text-align: center;
  display: flex;
}

.work-section figure {
  display: flex;
  position: relative;
  border: 3px solid #9bf6ff;
  box-shadow: -10px 10px 0 -3px var(--color-bg-primary), -10px 10px #fff59b,
    -20px 20px 0 -3px var(--color-bg-primary), -20px 20px 0 0 #ff9bf7;
}

.work-section figure:nth-child(odd) {
  transform: translateX(-60%);
}

.work-section figure:nth-child(even) {
  transform: translateX(60%);
}

.work-section figcaption {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translate(0%, -50%);
  background-color: white;
  color: black;
  padding: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  list-style: none;
  text-align: center;
  padding: 50px;
}

.contact-text p {
  padding: 20px;
  transition: box-shadow 0.3s;
  width: 60%;
  cursor: pointer;
}

.email {
  border: 3px solid #9bf6ff;
}

.phone {
  border: 3px solid #fff59b;
}

.linkedin {
  border: 3px solid #ff9bf7;
}

.email:hover {
  box-shadow: 0 0 25px #9bf6ff;
  background-color: black;
}

.phone:hover {
  box-shadow: 0 0 25px #fff59b;
  background-color: black;
}

.linkedin:hover {
  box-shadow: 0 0 25px #ff9bf7;
  background-color: black;
}

.top {
  text-decoration: none;
  padding: 10px;
  color: #9bf6ff;
  border: 3px solid #9bf6ff;
  background-color: var(--color-bg-primary);
  position: fixed;
  bottom: 20px;
  right: 150px;
}

@media screen and (max-width: 800px) {
  main {
    padding: 150px 20px 100px 20px;
    width: calc(100% - 40px);
  }

  header {
    flex-direction: column;
    height: 100%;
    gap: 30px;
  }

  .about-section {
    flex-direction: column;
  }

  .work-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
  }

  .work-section figure:nth-child(even),
  .work-section figure:nth-child(odd) {
    transform: translateX(0);
  }
}
