* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  --color-bg-primary: black;
  --color-text: #9bf6ff;
  background-color: var(--color-bg-primary);
  color: #f0e5d9;
  font-family: "Source Code Pro", monospace;
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  color: #9bf6ff;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  text-align: center;
}

h1,
h2 {
  color: #9bf6ff;
}

p {
  color: #f0e5d9;
}

nav a {
  position: relative;
  top: 0;
  right: 0;
  transition: box-shadow 1s, right 1s, top 1s;
}

a {
  text-decoration: none;
  background-color: var(--color-bg-primary);
  border: 3px solid #9bf6ff;
  color: #9bf6ff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 300px;
  text-align: center;
  box-shadow: -10px 10px 0 -3px var(--color-bg-primary), -10px 10px #fff59b,
    -20px 20px 0 -3px var(--color-bg-primary), -20px 20px 0 0 #ff9bf7;
}

a:hover {
  top: 40px;
  right: 40px;
  box-shadow: 0 0 0 -3px var(--color-bg-primary), 0 0 0 0px #fff59b,
    0 0 0 -3px var(--color-bg-primary), 0 0 0 0px #ff9bf7;
}

.about-section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 3px solid #9bf6ff;
  padding: 30px;
  margin: 60px;
  width: 500px;
  box-shadow: -10px 10px 0 -3px var(--color-bg-primary), -10px 10px #fff59b,
    -20px 20px 0 -3px var(--color-bg-primary), -20px 20px 0 0 #ff9bf7;
}

.about-images {
  display: flex;
  flex-direction: column;
}

.poloroid {
  background-color: white;
  padding: 8px;
  margin: 20px;
  transition: all 250ms ease;
}

.poloroid.right:hover {
  transform: rotate(0deg);
}

.poloroid.left:hover {
  transform: rotate(0deg);
}

.poloroid.right {
  transform: rotate(-8deg);
}

.poloroid.left {
  transform: rotate(10deg);
}

.poloroid p {
  color: black;
  margin: 8px;
}

.work-section {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.work-section h2 {
  text-align: center;
  display: flex;
}

.work-section figure {
  display: flex;
  position: relative;
  border: 3px solid #9bf6ff;
  box-shadow: -10px 10px 0 -3px var(--color-bg-primary), -10px 10px #fff59b,
    -20px 20px 0 -3px var(--color-bg-primary), -20px 20px 0 0 #ff9bf7;
}

.work-section figure:nth-child(odd) {
  transform: translateX(-60%);
}

.work-section figure:nth-child(even) {
  transform: translateX(60%);
}

.work-section figcaption {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translate(0%, -50%);
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  text-align: center;
  padding: 50px;
}
