body {
  --color-bg-primary: #637a9e;
  background-color: var(--color-bg-primary);
  color: #f0e5d9;
}

header {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  margin: 60px;
}

.introduction {
  color: #9bf6ff;
  background-color: #637a9e;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  border: 3px solid #9bf6ff;
  text-align: center;
}

h1,
h2 {
  color: #9bf6ff;
}

p {
  color: #f0e5d9;
}

nav a {
  position: relative;
  top: 0;
  right: 0;
  transition: box-shadow 1s, right 1s, top 1s;
}

a {
  text-decoration: none;
  background-color: #637a9e;
  border: 3px solid #9bf6ff;
  color: #9bf6ff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 300px;
  text-align: center;
  box-shadow: -10px 10px 0 -3px #637a9e, -10px 10px #9bf6ff,
    -20px 20px 0 -3px #637a9e, -20px 20px 0 0 #9bf6ff;
}

a:hover {
  top: 40px;
  right: 40px;
  box-shadow: 0 0 0 -3px #637a9e, 0 0 0 0px #9bf6ff, 0 0 0 -3px #637a9e,
    0 0 0 0px #9bf6ff;
}

.about-section {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: black;
}

.about-text {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  padding: 30px;
  margin: 60px;
  width: 500px;
}

.my-dog {
  border: 3px solid white;
  transform: rotate(7deg);
}

.work-section {
  background-color: black;
}

.work-heading {
  text-align: center;
}

.contact-section {
  background-color: black;
}
