body {
  --color-bg-primary: #576b8b;
  --color-text: #9bf6ff;
  background-color: var(--color-bg-primary);
  color: #f0e5d9;
}

header {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  margin: 60px;
}

.introduction {
  color: #9bf6ff;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  border: 3px solid currentColor;
  text-align: center;
}

h1,
h2 {
  color: #9bf6ff;
}

p {
  color: #f0e5d9;
}

nav a {
  position: relative;
  top: 0;
  right: 0;
  transition: box-shadow 1s, right 1s, top 1s;
}

a {
  text-decoration: none;
  background-color: var(--color-bg-primary);
  border: 3px solid #9bf6ff;
  color: #9bf6ff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: 100px;
  width: 300px;
  text-align: center;
  box-shadow: -10px 10px 0 -3px var(--color-bg-primary), -10px 10px #9bf6ff,
    -20px 20px 0 -3px var(--color-bg-primary), -20px 20px 0 0 #9bf6ff;
}

a:hover {
  top: 40px;
  right: 40px;
  box-shadow: 0 0 0 -3px var(--color-bg-primary), 0 0 0 0px #9bf6ff,
    0 0 0 -3px var(--color-bg-primary), 0 0 0 0px #9bf6ff;
}

.about-section {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.about-text {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  padding: 30px;
  margin: 60px;
  width: 500px;
}

.about-images {
  display: flex;
  flex-direction: column;
}

.poloroid {
  background-color: white;
  padding: 10px;
  margin: 30px;
  transition: all 250ms ease;
}

.poloroid.right:hover {
  transform: rotate(0deg);
}

.poloroid.left:hover {
  transform: rotate(0deg);
}

.poloroid.right {
  transform: rotate(-8deg);
}

.poloroid.left {
  transform: rotate(10deg);
}

.poloroid p {
  color: black;
}

.work-section {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.work-heading {
  text-align: center;
}

.calculator {
  margin-left: 300px;
  position: relative;
  border: 3px solid green;
}

.nyx {
  margin-left: 300px;
  position: relative;
  border: 3px solid green;
}

.todo-list {
  margin-left: 300px;
  position: relative;
  border: 3px solid green;
}

.calc-img {
  position: relative;
  left: 50px;
}

.nyx-img {
  position: relative;
  left: 100px;
}

.todo-img {
  position: relative;
  left: 150px;
}

.calculator-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-250%, -50%);
}

.nyx-project {
  position: relative;
}

.nyx-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100px, -50%);
}

.todo-list-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50%);
}

.contact-section {
  background-color: black;
}
